<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <i class="material-icons">menu</i>
            <h2 class="logo">Håkans Affärsresor</h2>
        </header>
        <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Flyg</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="mexico.html">Mexico</a>
                  <a href="indien.html">Indien</a>
                </div>
              </div>
              
        <footer>
             <h4 class="email">xdhåkansson.gmail.com</h4>
        </footer>
        <button class="Flyg">
                
        </button>
        <div class="buss">
            <div class="dropdown">
                <button onclick="myFunction1()" class="dropbtn">Buss</button>
                <div id="myDropdown1" class="dropdown-content">
                  <a href="mexico.html">Mexico</a>
                  <a href="indien.html">Indien</a>
                </div>
              </div>
        </div>
        
        
        
    </div>

</body>
</html>