
    <div class="container">
        <header><h2>Indien</h2></header>
        <div class="indiapicture"></div>
        <div class="textbox">
            <p>asdasdbjkasbjkdjasdbjkasdas
                asdasdaskndlasndöjlas
                asdasdk
                asdasdbjkasbjkdjasdbjkasdas
                asdasdaskndlasndöjlas
                asdasdk
                asdasdbjkasbjkdjasdbjkasdas
                asdasdaskndlasndöjlas
                asdasdk
                asdasdbjkasbjkdjasdbjkasdas
                asdasdaskndlasndöjlas
                asdasdk
                asdasdbjkasbjkdjasdbjkasdas
                asdasdaskndlasndöjlas
                asdasdk
                asdasdbjkasbjkdjasdbjkasdas
                asdasdaskndlasndöjlas
                asdasdks
            </p> 
        </div>
        <a href="index.html" class="buttonindien">
        <button class="buttonindien">Boka nu</button>
        </a>
    </div>
