@media only screen and (max-device-width: 400px){
    .container {
        height:100vh;
        widows: 100vw;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        display:grid;
        grid-column-gap: 0px;
        margin:0 auto;
        background-color: #ESF3FF;
    }

    .textbox{
        grid-column: 2/8;
        grid-row: 3/7;
        -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
        margin: 0 auto;
        background-color: white;
        border-radius: 15px;
        text-align: left;

    }

    header{
        grid-column: span 9;
        grid-row: span 1;
    }

    button{
        grid-column: 4 / 6;
        grid-row: 7 / 8;
        background-color: #546ECC;
        margin-top: 10px;
        border-radius: 15px;
    }

    h2{
        text-align: center;
    }
}

    body{
        background-image: url(../img/mexico.jpg);
        background-repeat: none;
        background-size: auto;
    }

