.container {
    height:568px;
    width:320px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display:grid;
    grid-column-gap: 0px;
    margin:0 auto;
    background-color:black;
}
header {
    grid-column: span 3;
    grid-row: span 1;
    background-image: url(../img/croppedlogo.jpg);
}
